* {
    box-sizing: border-box;
    margin: 0px; padding: 0px;
}
body {
    background-image: linear-gradient(135deg, #fffc00, #ff00ea);
}
h1, h2 {
    font-family: 'Shadows Into Light', cursive;
}
#introText {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    text-align: center;
}
.container {
    display: grid;
    width: 90vw;
    margin-left: auto; margin-right: auto; margin-top: 50px; margin-bottom: 50px;
    background: #ededed;
    padding: 20px;
    max-width: 1400px;
    border-radius: 5px;
}
.gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 20px;
}
.thumbnail {
    display: grid;
    justify-items: center;
    align-items: center;
    border: 3px solid hsla(0, 0%, 0%, 0.3);
    border-radius: 5px;
    overflow: hidden;
}
.thumbnail > img {
    height: 100%; width: 100%;
    min-height: 295px;
    object-fit: cover;
    background-color: rgb(207, 207, 207);
} .thumbnail:hover > img {
    transform: scale(1.05);
    filter: brightness(0.4);
} .thumbnail:hover i.material-icons {
    opacity: 1;
}
img.lazyLoad {
    opacity: 0.1;
    will-change: opacity;
    transition: all 1s;
}
.thumbnail img.lazyLoad.loaded {
    opacity: 1;
}
i.material-icons {
    position: absolute;
    color: #fff;
    font-size: 100px;
    z-index: 1;
    opacity: 0;
    will-change: opacity;
    transition: all 1s;
}

@media only screen and (max-width: 760px) {
    .container {
        display: grid;
        width: 100vw;
        background: #ededed;
        padding: 20px;
        margin: 0px;
        border-radius: 0px;
    }
    .gridContainer {
        grid-gap: 40px;
        grid-template-columns: 1fr;
    }
    .thumbnail > img {
        min-height: 0px;   
    }
}
